{% extends "layout.html" %}
{% block body %}
    <div class="letters">
        <h3>Used letters: {{ gra.get_used_letters_sorted() }}</h3>
        <h3>Available letters: {{ gra.get_available_letters() }}</h3>
    </div>
    <div class='word'>
        <h1>{{ gra.display_word() }}</h1>
    </div>
    {% if not gra.win and gra.get_number_of_guesses() != 0 %}
    <div class="guess_field">
        <form action="{{ url_for('user_guess') }}" method="post">
            <p>Enter letter:</p>
            <input type="text" name="letter">
            <input type="submit" value="Guess">
        </form>
    </div>
    {% endif %}
{% endblock %}