<!doctype html>
<html>
<head>
    <title>Wisielec</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="page">
        <div class="game_title">
            <h1>WISIELEC</h1>
        </div>
        <div class="new_game">
            <form action="{{ url_for('new_game') }}" method="post" id="new_game_form">
            </form>
            <button type="submit" form="new_game_form" value="new_game">Nowa gra</button>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block body %} {% endblock %}

    </div>

</body>

</html>